@import './base.css';

body {
  /* background-image: url(./wallpaper.jpg); */
  background-size: cover;
  background-color: #221212;
}


#app {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  font-weight: normal;
  min-height: 100vh;
}

a{
  text-decoration: none;
  color: rgb(251, 255, 254);
  font-size: 1.8rem;
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 1);
    border-color: #fff;
    border-radius: 5px;
  }
}

@media (max-width: 768px) {
  body {
    /* background-image: url(./wallpaper.jpg); */
    background-color: #221212;
    background-size: cover;
  }

  /* #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  } */
}
